head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='icon' href='asset/favicon.ico' type='image/x-icon')
  link(rel='shortcut icon' href='asset/favicon.ico' type='image/x-icon')
  link(rel='stylesheet' type='text/css' href='/styles/category.css')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/fdc798ee43.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap' rel='stylesheet')
  title Table Hopper
nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand.tablehopper.ml-2(href='../../../home.html' style='color: #006AFF;') Table Hopper
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    svg.bi.bi-list(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg' style='color: white;')
      path(fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
    ul.nav
      li.nav-item
        a.nav-link(href='../../../login.html' style='color: black;') Log In
      li.nav-item
        a.nav-link(href='../../../register.html' style='background-color: #006AFF;border-radius: 5px;') Sign Up


//- .col-sm-6.restaurant(style='margin-top: 5em;')
//-   .restaurant-displayPhoto
//-     img#restaurantDisplayPhoto(src='/asset/wallpaper.png')
//-   .restaurant-info
//-     h5#restaurantName Wutor Steakhouse
//-     #restaurantStar
//-       span.fa.fa-star.checked
//-       span.fa.fa-star.checked
//-       span.fa.fa-star.checked
//-       span.fa.fa-star
//-       span.fa.fa-star
//-     h5#restaurantFeatures Baby Friendly
//-     h5#restaurantAddress 123 Angsana Road
//- hr
//- .col-sm-6.restaurant
//-   .restaurant-displayPhoto
//-     img#restaurantDisplayPhoto(src='/asset/tablehopperlogo.png')
//-   .restaurant-info
//-     h5#restaurantName Wutor Steakhouse
//-     #restaurantStar
//-       span.fa.fa-star.checked
//-       span.fa.fa-star.checked
//-       span.fa.fa-star.checked
//-       span.fa.fa-star
//-       span.fa.fa-star
//-     h5#restaurantFeatures Baby Friendly
//-     h5#restaurantAddress 123 Angsana Road
//- hr
//- .col-sm-6.restaurant
//-   .restaurant-displayPhoto
//-     img#restaurantDisplayPhoto(src='/asset/tablehopperlogo.png')
//-   .restaurant-info
//-     h5#restaurantName Wutor Steakhouse
//-     #restaurantStar
//-       span.fa.fa-star.checked
//-       span.fa.fa-star.checked
//-       span.fa.fa-star.checked
//-       span.fa.fa-star
//-       span.fa.fa-star
//-     h5#restaurantFeatures Baby Friendly
//-     h5#restaurantAddress 123 Angsana Road

    
each restaurant in array
  .col-sm-6.restaurant(style='margin-top: 5em;')
    .restaurant-displayPhoto
      img#restaurantDisplayPhoto(src='/asset/restaurantGallery/'+ restaurant.restaurantDisplayPhoto)
    .restaurant-info
      a#restaurantName(href='../id/'+ restaurant.restaurantId)= restaurant.restaurantName
      h5#restaurantPricing= restaurant.restaurantPricing
      #restaurantStar
        h5#restaurantStar= "Rating: "+restaurant.restaurantStarCount+"/5"
      h5#restaurantAddress= restaurant.restaurantAddress + " [" + restaurant.restaurantRegion + "]"